html {
	background-color:#efefef;
}

body, td, pre {
	color:#222;
	font-family:Helvetica, sans-serif;
	font-size:12px;
	margin:8px;
}

body {
	background:#FFF;
	margin:10px;
	padding:15px;
	
	/*-moz-box-shadow: 0px 0px 3px 0px #AAA;
	-webkit-box-shadow: 0px 0px 0px 3px #AAA;
	box-shadow: 0px 0px 3px 0px #AAA;*/

body.noLetter{
	background:#FFF;
	margin:5px;
	margin-right:10px;
	margin-bottom:15px;
	padding:10px;
	
	box-shadow: 2px 2px 4px 2px #AAA;
}

html.noLetter {
	background-color:white;
}

body.mceForceColors {background:#FFF; color:#000;}
p {font-size: 12pt;}
li {font-size: 12pt;}
h1 {font-size: 18pt;}
h2 {font-size: 16pt;}
h3 {font-size: 15pt;}
h4 {font-size: 13pt;}
h5 {font-size: 13pt;}
h6 {font-size: 13pt;}
.mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid {border: 1px dashed #BBB;}
a.mceItemAnchor {width:12px; line-height:6px; overflow:hidden; padding-left:12px; background:url(img/items.gif) no-repeat bottom left;}
img.mceItemAnchor {width:12px; height:12px; background:url(img/items.gif) no-repeat;}
img {border:0;}
table {cursor:default}
table td, table th {cursor:text}
ins {border-bottom:1px solid green; text-decoration: none; color:green}
del {color:red; text-decoration:line-through}
cite {border-bottom:1px dashed blue}
acronym {border-bottom:1px dotted #CCC; cursor:help}
abbr, html\:abbr {border-bottom:1px dashed #CCC; cursor:help}
.moz-signature {
	color:grey;
}

blockquote[type=cite], blockquote.gmail_quote {
	border-color:#729fcf !important;
	border-width:2px !important;
	padding-left:16px !important;
}

blockquote[type=cite] blockquote[type=cite] {
	border-color:#ad7fa8;
}

blockquote[type=cite] blockquote[type=cite] blockquote[type=cite] {
	border-color:#8ae234;
}

blockquote[type=cite] blockquote[type=cite] blockquote[type=cite] blockquote[type=cite] {
	border-color:#fcaf3e;
}

blockquote[type=cite] blockquote[type=cite] blockquote[type=cite] blockquote[type=cite] blockquote[type=cite] {
	border-color:#e9b96e;
}