@CHARSET "UTF-8";

/**
  * GENERAL
  **/
  
.borderColor0 {
	border-color:white;
}

.borderColor1 {
	border-color:#666;
}

.backgroundColor0 {
	background-color:white;
}

.backgroundColor1 {
	background-color:#1155aa;
	color:white;
}
.backgroundColor2 {
	background-color:#e0e0e0;
}

.backgroundColor3 {
	background-color:#d0d0d0;
}

.FormSeparatorWithLabel {
	background-color:white;
}
/**
  * ELEMENTS
  **/
  
/*
body {
	background-color:white;
	color:black;
}*/

a:link, a:active, a:visited {
	color:black;
}

input[type=text],
input[type=submit],
input[type=password],
input[type=radio],
input[type=checkbox],
input[type=button],
input[type=submit], select, textarea, .AJAXUpload {
	border-bottom-color:#444;
}

/**
  * SPECIAL
  **/
  
.hasFocus {
	background-color:white;
	border-bottom-color:#444;
}

/**
  * FRAMES
  **/
  /*
#wrapper {
	border-color:#1155aa;
	background-color:white;
	border-bottom-width:2px;
}*/

#contentLeft table, #contentRight table, #windows table {
	border-color:#999;
}

#contentRight tr:hover {
	background-color:white;
}
/*
#footer {
	color:black;
}*/

/**
  * NAVIGATION
  **/
/*
#navigation {
	background-image:none;
	background-color:#1155aa;
	min-height:56px;
}
#navigation div div {
	border:0px;
}
.navBackgroundColor {
	background-color:none;
	color:white;
}

.navBorderColor {
	border-color:#1155aa;
}*/

#navTabsWrapper .navTab:hover {
	background-color:white;
	border-bottom-color:white;
	color:black;
}

#navigation div.theOne {
	background-color:white;
	color:black;
	border-color:#1155aa;
	border-bottom-color:white;
}