<?xml version="1.0" encoding="UTF-8" ?>
<!-- 
 *  This file is part of wasGibtsMorgen.

 *  wasGibtsMorgen is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 3 of the License, or
 *  (at your option) any later version.

 *  wasGibtsMorgen is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.

 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 *  2007 - 2017, Furtmeier Hard- und Software - Support@Furtmeier.IT
-->
<phynx>
	<plugin>
		<name>Gericht</name>
		<menuName>Gerichte</menuName>
		<collection>mGericht</collection>
		
		<icon>./fheME/Gericht/Gericht.png</icon>
		<folder>Gericht</folder>
		
		<version>0.6</version>
		<registry>Overview;mGerichtGUI::getOverviewPlugin</registry>

		<deploy>
			<table name="Gericht" />
			<table name="Gefrierschrank" />
		</deploy>
	</plugin>
</phynx>