#container {
	/*width:100%;*/
}


#DesktopLinkElements {
	list-style-type: none;
}

#DesktopLinkWrapper {
	border-bottom-style:solid;
	border-bottom-width:1px;
}

#DesktopLink {
	position:absolute;
	width:100%;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

#DesktopLinkHandle {
	height:7px;
	overflow:hidden;
	cursor:pointer;
}

.DesktopLinkIcon {
	float:left;
	height:65px;
	width:80px;
	overflow:hidden;
	text-align:center;
	margin-top:5px;
	/*border:1px solid black;*/
}

.DesktopLinkIcon p {
	font-size:9px;
}

.DesktopLinkSettings {
	display:none;
	position:absolute;
	margin-left:62px;
}

.DesktopLinkIcon:hover .DesktopLinkSettings {
	display:block;
}

.DesktopLinkIcon:hover .DesktopLinkHandler {
	display:block;
}

.DesktopLinkHandler {
	display:none;
	position:absolute;
	margin-left:62px;
	margin-top:18px;
}

#wrapper {
	border-top-width:1px;
	border-top-style: solid;
	border-bottom-width:1px;
	border-bottom-style: solid;
	clear:both;

	-moz-box-shadow: -4px -2px 4px #AAA;
	-webkit-box-shadow: -4px -2px 4px #AAA;
	box-shadow: -4px -2px 4px #AAA;
}

#wrapperTable {
	width:100%;
	padding:0px;
	margin:0px;
	border-collapse:collapse;
}

#wrapperHandler {
	padding:5px;
	text-align:center;
	border-style:solid;
	border-width:1px;
	border-bottom-width:0px;
}

#wrapperTableTd1 {
	padding:0px;
	vertical-align:top;
	margin:0px;
}

#wrapperTableTd2 {
	padding:0px;
	vertical-align:top;
	margin:0px;

}

#contentLeft {
	float:left;
	padding-bottom:10px;
	padding-top:10px;
	width:430px;
}

#contentLeft p {
	padding:5px;
}

#contentLeft table {
	width:410px;
	margin:auto;
	border-left-width:1px;
	border-left-style: solid;
}

#contentLeft td table, #contentLeft caption table {
	width:100%;
	border-left:0px;
}

#contentLeft .Tab {
	margin-right:10px;
}
/*
#contentLeft caption div {
	font-weight:normal;
	letter-spacing:normal;
}
*/

#contentRight {
	margin-left:auto;
	padding-bottom:10px;
	padding-top:10px;
	width:400px;
}

#contentRight table {
	border-right-width:1px;
	border-right-style: solid;
	margin-right:10px;
	width:390px;
}

#contentRight .Tab {
	/*margin-left:10px;*/
}

#contentScreen table {
	margin:auto;
	width:99%;
}

#contentScreen td {
	padding:1px;
	padding-left:3px;
	padding-right:3px;
}

#contentBelow {
	padding-top:20px;
}

#contentBelow p {
	line-height:1.5;
	color:#333;
	font-size:15px;
}

#contentBelowContent {
	border-top-width: 1px;
}

caption[onclick] {
	cursor:pointer;
}

caption {
	background-repeat:no-repeat;
	background-position:right;
}

#windows .Tab, #windowsPersistent .Tab {
	margin-left:auto;
}

#windows table, #windowsPersistent table {
	margin:auto;
	width:95%;
}

#phim {
	position:fixed;
	width:19px;
	top:0px;
	right:0px;
	background-color: #CCC;
	border-left:1px solid #777;
	z-index:990;
	box-shadow: 0px 0px 2px #777;
	
	-moz-transition: width .5s, padding-left 1s, background-color 1s;
	-moz-transition-delay: .7s;
	-webkit-transition: width .5s, padding-left 1s, background-color 1s;
	-webkit-transition-delay: .7s;
	-o-transition: width .5s, padding-left 1s, background-color 1s;
	-o-transition-delay: .7s;
	transition: width .5s, padding-left 1s, background-color 1s;
	transition-delay: .7s;
	
	
}

#phim:hover{
	width:180px;
	padding-left:15px;
	background-color: #EEE;
	
	-moz-transition: width .5s, padding-left 1s, background-color 1s;
	-moz-transition-delay: .3s;
	-webkit-transition: width .5s, padding-left 1s, background-color 1s;
	-webkit-transition-delay: .3s;
	-o-transition: width .5s, padding-left 1s, background-color 1s;
	-o-transition-delay: .3s;
	
	transition: width .5s, padding-left 1s, background-color 1s;
	transition-delay: .3s;
}
/*
  For flot diagrams
*/
#contentScreen .legend table {
	width: auto;
}