* {
	padding:0px;
	margin:0px;
}

html {
	overflow-y: scroll;
}

@font-face { 
	font-family: 'IconicStroke'; 
	src: url('iconic_stroke.eot'); 
	src: url('iconic_stroke.eot?#iefix') format('embedded-opentype'), url('iconic_stroke.ttf') format('truetype');
	font-weight: normal;
	font-style: normal; }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../../libraries/roboto/Roboto-Light.woff') format('woff'), url('../../libraries/roboto/Roboto-Light.ttf') format('truetype');
}

.iconic {
	display:inline-block;
	font-family: 'IconicStroke';
	font-size:20px;
	text-align: center;
	margin:auto;
	vertical-align:middle;
	color:white;
	border-color:white;
	border-style:solid;
	border-width:0px;
	width:20px;


	-moz-transition: color .3s, border-color .3s;
	-webkit-transition: color .3s, border-color .3s;
	-o-transition: color .3s, border-color .3s;
	transition: color .3s, border-color .3s;
}

.iconicG {
	color:#CCC;
	vertical-align:top;
}

.iconicR {
	color:darkred;
	vertical-align:top;
}

.iconicL {
	font-size:30px;
	width:32px;
	height:32px;
}

.iconic.inactive {
	cursor:default;
}

.iconic[onclick] {
	cursor:pointer;
}

.iconic:hover {	
	opacity:0.5;
}


.iconicG:hover {
	color:#555;
	opacity:1;
}



.lightbulb:before {content:'\e063';}
.equalizer:before {content:'\e052';}
.map_pin_stroke:before {content:'\e068';}
.brush_alt:before {content:'\e01c';}
.move:before {content:'\e03e';}
.paperclip:before {content:'\e08a';}
.pen_alt_stroke:before {content:'\e005';}
.move_vertical:before {content:'\e03b';}
.book_alt2:before {content:'\e06a';}
.layers:before {content:'\e01f';}
.pause:before {content:'\e049';}
.layers_alt:before {content:'\e020';}
.cloud_upload:before {content:'\e045';}
.chart_alt:before {content:'\e029';}
.fullscreen_exit_alt:before {content:'\e051';}
.cloud_download:before {content:'\e044';}
.comment_alt2_stroke:before {content:'\e004';}
.mail:before {content:'\2709';}
.check_alt:before {content:'\2714';}
.document_stroke:before {content:'\e066';}
.battery_charging:before {content:'\e05d';}
.stop:before {content:'\e04a';}
.arrow_up:before {content:'\2191';}
.move_horizontal:before {content:'\e038';}
.compass:before {content:'\e021';}
.minus_alt:before {content:'\e009';}
.battery_empty:before {content:'\e05c';}
.map_pin_alt:before {content:'\e002';}
.unlock_stroke:before {content:'\e076';}
.lock_stroke:before {content:'\e075';}
.question_mark:before {content:'\003f';}
.list:before {content:'\e055';}
.upload:before {content:'\e043';}
.reload:before {content:'\e030';}
.loop_alt4:before {content:'\e035';}
.loop_alt3:before {content:'\e034';}
.loop_alt2:before {content:'\e033';}
.loop_alt1:before {content:'\e032';}
.left_quote:before {content:'\275d';}
.x:before {content:'\2717';}
.last:before {content:'\e04d';}
.document_alt_stroke:before {content:'\e000';}
.bars:before {content:'\e06f';}
.arrow_left:before {content:'\2190';}
.arrow_down:before {content:'\2193';}
.download:before {content:'\e042';}
.home:before {content:'\2302';}
.calendar:before {content:'\e001';}
.right_quote_alt:before {content:'\e012';}
.fullscreen:before {content:'\e04e';}
.dial:before {content:'\e058';}
.plus_alt:before {content:'\e008';}
.clock:before {content:'\e079';}
.movie:before {content:'\e060';}
.steering_wheel:before {content:'\e024';}
.pen:before {content:'\270e';}
.tag_stroke:before {content:'\e02b';}
.pin:before {content:'\e067';}
.denied:before {content:'\26d4';}
.left_quote_alt:before {content:'\e011';}
.volume_mute:before {content:'\e071';}
.arrow_up_alt2:before {content:'\e018';}
.list_nested:before {content:'\e056';}
.arrow_up_alt1:before {content:'\e014';}
.comment_stroke:before {content:'\e06d';}
.undo:before {content:'\e02f';}
.umbrella:before {content:'\2602';}
.bolt:before {content:'\26a1';}
.article:before {content:'\e053';}
.read_more:before {content:'\e054';}
.beaker:before {content:'\e023';}
.beaker_alt:before {content:'\e010';}
.battery_full:before {content:'\e073';}
.arrow_right:before {content:'\2192';}
.new_window:before {content:'\e059';}
.plus:before {content:'\2795';}
.cog:before {content:'\2699';}
.key_stroke:before {content:'\26bf';}
.first:before {content:'\e04c';}
.comment_alt1_stroke:before {content:'\e003';}
.trash_stroke:before {content:'\e05a';}
.image:before {content:'\e027';}
.chat_alt_stroke:before {content:'\e007';}
.cd:before {content:'\e064';}
.right_quote:before {content:'\275e';}
.brush:before {content:'\e01b';}
.cloud:before {content:'\2601';}
.eye:before {content:'\e025';}
.play_alt:before {content:'\e048';}
.transfer:before {content:'\e041';}
.pen_alt2:before {content:'\e006';}
.camera:before {content:'\e070';}
.move_horizontal_alt2:before {content:'\e03a';}
.curved_arrow:before {content:'\2935';}
.move_horizontal_alt1:before {content:'\e039';}
.aperture:before {content:'\e026';}
.reload_alt:before {content:'\e031';}
.magnifying_glass:before {content:'\e074';}
.iphone:before {content:'\e06e';}
.fork:before {content:'\e046';}
.box:before {content:'\e06b';}
.bars_alt:before {content:'\e00a';}
.heart_stroke:before {content:'\2764';}
.volume:before {content:'\e072';}
.x_alt:before {content:'\2718';}
.link:before {content:'\e077';}
.moon_stroke:before {content:'\263e';}
.eyedropper:before {content:'\e01e';}
.spin:before {content:'\e036';}
.rss:before {content:'\e02c';}
.info:before {content:'\2139';}
.target:before {content:'\e02a';}
.cursor:before {content:'\e057';}
.minus:before {content:'\2796';}
.book_alt:before {content:'\e00b';}
.headphones:before {content:'\e061';}
.hash:before {content:'\0023';}
.arrow_left_alt1:before {content:'\e013';}
.arrow_left_alt2:before {content:'\e017';}
.fullscreen_exit:before {content:'\e050';}
.share:before {content:'\e02e';}
.fullscreen_alt:before {content:'\e04f';}
.at:before {content:'\0040';}
.chat:before {content:'\e05e';}
.move_vertical_alt2:before {content:'\e03d';}
.move_vertical_alt1:before {content:'\e03c';}
.check:before {content:'\2713';}
.mic:before {content:'\e05f';}
.calendar_alt_stroke:before {content:'\e06c';}
.book:before {content:'\e069';}
.move_alt1:before {content:'\e03f';}
.move_alt2:before {content:'\e040';}
.award_stroke:before {content:'\e022';}
.wrench:before {content:'\e078';}
.play:before {content:'\e047';}
.star:before {content:'\2605';}
.chart:before {content:'\e028';}
.rain:before {content:'\26c6';}
.folder_stroke:before {content:'\e065';}
.sun_stroke:before {content:'\2600';}
.user:before {content:'\e062';}
.battery_half:before {content:'\e05b';}
.aperture_alt:before {content:'\e00c';}
.eject:before {content:'\e04b';}
.arrow_down_alt1:before {content:'\e016';}
.pilcrow:before {content:'\00b6';}
.arrow_down_alt2:before {content:'\e01a';}
.arrow_right_alt1:before {content:'\e015';}
.arrow_right_alt2:before {content:'\e019';}
.rss_alt:before {content:'\e02d';}
.spin_alt:before {content:'\e037';}



body {
	font-size:0.8em;
	font-family:sans-serif;
}

a:hover {
	text-decoration:none;
}

a.hiddenLink {
	text-decoration:none;
}

a.hiddenLink:hover {
	text-decoration:underline;
}

.mouseoverFade[onclick]:hover {
	opacity:0.5;
	filter:alpha(opacity=50);
}

input[type=text],
input[type=submit],
input[type=password],
input[type=radio],
input[type=checkbox],
input[type=button],
input[type=submit],
select,
.AJAXUpload,
button {
	border:0;
	border-bottom-width:1px;
	border-bottom-style: dotted;
	background:transparent;
	padding:5px;
	background-repeat:no-repeat;
	background-position:right;
	color:black;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

input[type=text],
input[type=submit],
input[type=password],
input[type=radio],
input[type=checkbox],
input[type=button]:not(.bigButton),
input[type=submit],
select,
.AJAXUpload,
button {
	width:90%;
}

input[type=checkbox]{
	margin:5px;
	padding:0;
}

textarea {
	width:90%;
	background-color:transparent;
	border:0px;
	border-bottom-width:1px;
	border-bottom-style: dotted;
	padding-left:2px;
	font-size:1.1em;
	height:60px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding:5px;
}

.hasFocus {
	border-bottom-width:1px;
	border-bottom-style:solid;
}

select {
	/*background-color:white;*/
}

input[type=submit] {
    width:100%;
}

input[type=checkbox] {
	width:15px;
}

input[type=radio] {
	width:10px;
}

input[disabled], select[disabled], input[readonly] {
	color:grey;
}

.bigButton {
	border:0;
	text-align:left;
	width:150px;
	height:40px;
	background-position:115px;
	cursor:pointer;
	/*border-radius:3px;*/
}

.bigButton:hover  {
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.bigButton:active  {
	box-shadow: 0px 0px 0px 3px rgba(150, 150, 150, 0.5);
}

.prettyTitle {
	font-family:Roboto;
	font-size:30px;
	padding:10px;
	padding-top:30px;
	padding-bottom:15px;
}

.prettySubtitle {
	font-family:Roboto;
	font-size:23px;
	padding:10px;
	padding-top:30px;
	padding-bottom:15px;
}

.LPBigButton {
	border:0;
	text-align:left;
	width:38px;
	height:40px;
	background-position:3px;
	cursor:pointer;
	/*border-radius:3px;*/
}

.LPBigButton:active {
	/*box-shadow: 0 0 2px #777777;*/
	box-shadow: 0px 0px 0px 3px rgba(150, 150, 150, 0.5);
}
/*
caption {
	font-weight:bold;
	letter-spacing:3px;
	padding:2px 2px 2px 5px;
	text-align:left;
}
*/
	
.touchButton {
	background-color:#f2f2f2;
	margin-bottom:15px;
	cursor:pointer;
	padding:5px;
	color:#333;
}

.touchButton .label {
	padding-top:7px;
	display:inline-block;
}

.touchButton .iconicL {
	margin-right:5px;
}

table {
	font-size:12px;
	border-collapse:separate;
	border-spacing:0px 1px;
}

li {
	margin-top:10px;
	margin-left:15px;
}
img {
	border:0px;
}

img[onclick] {
	cursor:pointer;
}

label {
	display:block;
	float:right;
	font-weight:normal;
	margin-right:2px;
	text-align:right;
	width:120px;
}


#footer {
	font-size:0.75em;
	height:30px;
	text-align:right;
	padding-top:5px;
	clear:both;
}

#footer p {
	margin-right:5px;
}

#messenger {
	position:fixed;
	border-width:1px;
	border-style:solid;
	border-radius: 3px;
	/*border-right-style:solid;
	border-bottom-width:1px;
	border-bottom-style:solid;*/
	box-shadow: 0px 0px 1px #777;
	padding:10px;
	z-index:10000;
	left:3px;
	top:3px;
}
td, th {
	padding:3px;
}

h1 {
	font-size:17px;
	/*padding-left:25px;*/
	margin-bottom:5px;
	padding:5px;
	padding-bottom:5px;
	padding-top:25px;
}

h2 {
	font-size:15px;
	/*padding-left:25px;*/
	margin-bottom:5px;
	padding:5px;
	margin-top:10px;
}

h3 {
	font-size:13px;
	padding-top:5px;
	/*padding-left:25px;*/
	margin-bottom:5px;
	padding-left:5px;
}

pre {
	font-size: 1.3em;
}

.schatten {
	float:left;
	background-color:#efefef;
	margin-left:10px;
	margin-top:10px;
	margin-right:5px;
}
.schatten img {
	position:relative;
	top:-4px;
	left:-4px;
	background-color:#ffffff;
	padding:4px;
	border:1px solid #7A7AD6;
}

.kategorieTeiler td {
	font-weight:bold;
	padding-left:10px;
}

.multiEditInput{
	width:50px;
	text-align:right;
}
input.multiEditInput2 {
	width:50px;
	text-align:right;
}
.multiEditInput2:hover, .multiEditInput2:focus {
	background-color:white;
	border-bottom:1px solid #9E9EF0;

}

.resizableTextarea {
	height:18px;
}

.Tab {
	font-weight:bold;
}



.Tab p {
	padding:5px;
}

div + .Tab {
	font-weight:normal;
	cursor:pointer;
	margin:auto;
	margin-top:1px;
}


.lightTab {
	color:grey;
	margin-top:10px;
	border-bottom-width:1px;
	border-bottom-style:dashed;
	margin-bottom:5px;
	padding:3px;
	padding-bottom:0px;
	padding-left:5px;
}

#contentLeft .lightTab p {
	padding:0px;
}

.desktopButton {
	cursor:pointer;
	min-height:80px;
	padding:30px;
	
	transition: background-color .5s;
	-moz-transition: background-color .5s; /* Firefox 4 */
	-webkit-transition: background-color .5s; /* Safari and Chrome */
	-o-transition: background-color .5s; /* Opera */
}

.desktopButton:hover {
	background-color:#E0E0E0;
	
	transition: background-color .5s;
	-moz-transition: background-color .5s; /* Firefox 4 */
	-webkit-transition: background-color .5s; /* Safari and Chrome */
	-o-transition: background-color .5s; /* Opera */
}

.desktopButton ~ .desktopButton {
	border-top:1px solid #DDD;
}
/*
#desktopRight .desktopButton {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
}

#desktopLeft .desktopButton {
	/*-moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}*/


#contentRight .sideTableLeft {
	width:160px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:-170px;
}

#contentLeft .sideTableRight {
	width:160px;
	margin-left:0px;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:-170px;
}

.sideTableRight .buttonSettings {
	float:right;
	margin-right:-22px;
}

@media only screen and (max-width: 1200px) {
	.sideTableRight .bigButton, .sideTableLeft .bigButton {
		width:38px;
		background-position:3px;
		text-indent: 100px;
		font-size: 0px;
		overflow: hidden;
	}

	.sideTableLeft .bigButton {
		float:right;
	}

	#contentRight .sideTableLeft {
		width:60px;
		margin-left:-70px;
	}

	#contentLeft .sideTableRight {
		width:60px;
		margin-right:-70px;
	}
	
	.sideTableRight .buttonSettings {
		margin-right:-10px;
	}
}

.FormSeparatorWithLabel td {
	padding-top:8px;
}

input[type=button][name=currentSaveButton] {
	width:99%;
	text-transform:uppercase;
}

.spell {
	box-shadow: inset 0px 0px 1px #777;
	/*box-shadow: 0px 0px 3px #777;*/
}
/*
.spell:hover {
	box-shadow: inset 0px 0px 3px #777;
}*/

.selectionBox {
	vertical-align:top;
	cursor:pointer;
	padding:3px;
	margin-bottom:8px;
	margin-left:5px;
	width:160px;
	display:inline-block;

	-moz-transition: background-color .3s;
	-webkit-transition: background-color .3s;
	-o-transition: background-color .3s;
	transition: background-color .3s;
}

.tableForSelection tr {
	cursor:pointer;

	-moz-transition: background-color .3s;
	-webkit-transition: background-color .3s;
	-o-transition: background-color .3s;
	transition: background-color .3s;
}

.popup {
	position:fixed;
	box-shadow: 0px 0px 0px 8px rgba(200, 200, 200, .5);
	/*border-top-left-radius:5px;
	border-top-right-radius:5px;*/
	border-color: #777;
	border-style:solid;
	border-width:1px;
}

.popup > div:first-child {
	/*border-top-left-radius:5px;
	border-top-right-radius:5px;*/
}

.popupSidePanel {
	/*border-top-right-radius:5px;
	box-shadow: 0px 0px 2px #777;*/
	box-shadow: 0px 0px 0px 8px rgba(200, 200, 200, .5);
	width:200px;
	border-color: #777;
	border-width:1px;
	border-style:solid;
	position:fixed;
	min-height:200px;
}

.popupSidePanel > div > div:first-child {
	/*border-top-right-radius:5px;*/
}

.popupSidePanel label {
	text-align:left;
	float:left;
}

.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    /*display:block; 
    width: 105px; padding: 7px 0; text-align:center;
    background:#880000; border-bottom:1px solid #ddd;color:#fff;*/
}
.qq-upload-button-hover {}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area, .qq-upload-extra-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#8EAC1B; text-align:center;
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-extra-drop-area {
	position: relative;
	margin-top: 50px;
	font-size: 16px;
	padding-top: 30px;
	height: 20px;
	min-height: 40px;
}
.qq-upload-drop-area-active {background:#5c7400;}

.qq-upload-list {padding:0; list-style:disc;}
.qq-upload-list li { margin-top:5px; padding:0; font-size:10px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; /*background: url("loading.gif");*/ width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}


.ui-datepicker {
	width:200px;
}

.ui-front {
	z-index: 2600;
}

.ui-datepicker-header {
	height:25px;
}

.ui-autocomplete.ui-autocomplete,
.ui-autocomplete .ui-corner-all,
.ui-datepicker.ui-corner-all,
.ui-dialog.ui-corner-all,
.ui-datepicker-inline.ui-corner-all,
.ui-datepicker-header.ui-corner-all,
.ui-dialog-titlebar.ui-corner-all
{
	border-radius:0px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:none;
}

.ui-widget-header {
	background:none;
	background-color:#EEE;
}

.ui-tooltip-text {
	font-size:12px;
	line-height: 1.5; 
}

.ui-widget-overlay {
	opacity:0.5;
}

.ui-datepicker-calendar .ui-datepicker-today a {
	background-color:#ccc;
	border:1px solid #aaa;
}

.ui-datepicker-calendar td {
	width:14.29%;
}

.ui-datepicker-header, .ui-dialog-titlebar {
	border:0px;
}

.ui-datepicker-week-end {
	background-color:#DDD;
}


/*.ui-widget-content,*/
.ui-datepicker-calendar .ui-state-default {
	border:0px;
}

.ui-widget-content .ui-datepicker-calendar .ui-state-highlight {
	background-color:#CCC;
}

.ui-widget-content .ui-state-active {
	background-color:#ffb400;
}
