@CHARSET "UTF-8";

#wrapper {
	margin-left:190px;
	border-left-style:solid;
	border-left-width:1px;
	border-top:0px;
	clear:none;
	
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.navTabMinimizer {
	display:none;
}

#navigation {
	float:left;
	width:190px;
}

#navTabsWrapper {
	margin-left:20px;
	width:150px;
	padding-top:60px;
}

#navTabsWrapper .navTab {
	/*-moz-border-radius-topleft:1px;
	-webkit-border-top-left-radius:1px;
	border-top-left-radius:1px;
    -moz-border-radius-bottomleft:1px;
	-webkit-border-bottom-left-radius:1px;
	border-bottom-left-radius:1px;

    -moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	*/
	/*margin-right:-22px;*/
}

#navigation .navTab {
	width:160px;
	margin-left:10px;
	margin-top:15px;
	float:none;
}

.tabImg {
	margin-top:-11px;
}

#navigation div.theOne {
	/*border:1px solid black;*/

	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#footer {
	margin-left:190px;
}