@CHARSET "UTF-8";

/**
  * GENERAL
  **/
  
.borderColor0 {
	border-color:white;
}

.borderColor1 {
	border-color:#b66200;
}

.backgroundColor0 {
	background-color:white;
}

.backgroundColor1 {
	background-color:#e6a252;
}
.backgroundColor2 {
	background-color:#ffd5a3;
}

.backgroundColor3 {
	background-color:#ffe1be;
}

.FormSeparatorWithLabel {
	background-color:white;
}
/**
  * ELEMENTS
  **/
  

body {
	background-color:#d8d8d8;
	color:black;
}

a:link, a:active, a:visited {
	color:black;
}

input[type=text],
input[type=submit],
input[type=password],
input[type=radio],
input[type=checkbox],
input[type=button],
input[type=submit], select, textarea, .AJAXUpload {
	border-bottom-color:#c57b23;
}

/**
  * SPECIAL
  **/
  
.hasFocus {
	background-color:white;
	border-bottom-color:#c57b23;
}

/**
  * FRAMES
  **/
  
#wrapper {
	border-color:#111111;
	background-color:white;
}

#contentLeft table, #contentRight table, #windows table {
	border-color:#ed9022;
}

#contentRight tr:hover {
	background-color:white;
}

#footer {
	color:#555555;
}

/**
  * NAVIGATION
  **/

.navBackgroundColor {
	background-color:#e6a252;
}

.navBorderColor {
	border-color:#b66200;
	border-bottom-color:#111111;
}

#navTabsWrapper .navTab:hover {
	background-color:#ed9022;
}

#navigation div.theOne {
	background-color:white;
	border-color:#111111;
	border-bottom-color:white;
}